html {
  background: #fff;
  color: #000;

  &.dark {
    background: #000;
    color: #fff;

    input, select {
      background: #fff;
      color: #000;
    }
  }
}

html, body {
  margin: 0;
  padding: 0;
  border: none;

  font-size: 18px;
  font-family: 'Noto Sans KR', sans-serif;
}

* {
  scroll-margin-top: 48px;
}
