main.post-main {
  background: #fff;

  .dark & {
    background: #000;
  }

  h1,
  h2,
  h3,
  p,
  i,
  a,
  ul,
  ol {
    color: rgba(0, 0, 0, 0.84);
    text-rendering: optimizeLegibility;
    font-family: 'Noto Sans KR', sans-serif;

    .dark & {
      color: rgba(255, 255, 255, 0.84);
    }
  }

  h1 {
    font-size: 32px;
    text-align: left;
    margin-bottom: 8px;

    @media (min-width: 1025px) {
      font-size: 40px;
    }

    @media (min-width: 1200px) {
      font-size: 48px;
    }
  }

  h2 {
    font-size: 26px;
    font-weight: 700;
    padding: 0;
    margin: 56px 0 13px -1.883px;
    text-align: left;
    line-height: 34.5px;
    letter-spacing: -0.45px;
  }

  h3 {
    font-size: 21px;
    font-weight: 700;
  }

  p,
  i,
  a {
    margin-top: 18px;
    letter-spacing: -0.03px;
    line-height: 1.58;
  }

  a {
    text-decoration: underline;
  }

  ::selection {
    background-color: lavender;

    .dark & {
      background-color: darkblue;
    }
  }

  code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px;

    .dark & {
      background-color: rgba(228, 224, 220, 0.15);
    }
  }

  pre {
    word-wrap: normal;
  }

  pre > code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;

    .dark & {
      background-color: transparent;
    }
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
    font-size: 18px;
    letter-spacing: -0.03px;
    line-height: 1.58;
  }

  ol {
    list-style-type: decimal;
    list-style-position: inside;
    font-size: 18px;
    letter-spacing: -0.03px;
    line-height: 1.58;
  }

  ul ul,
  ol ul {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 15px;
  }

  ol ol,
  ul ol {
    list-style-type: lower-latin;
    list-style-position: inside;
    margin-left: 15px;
  }

  .footnotes > ol > li > p {
    display: inline-block;
  }
}
