main.post-main {
  background: #fff;

  .dark & {
    background: #000;
  }

  h1,
  h2,
  h3,
  p,
  i,
  a,
  ul,
  ol {
    color: rgba(0, 0, 0, 0.84);
    text-rendering: optimizeLegibility;
    font-family: 'Noto Sans KR', sans-serif;

    .dark & {
      color: rgba(255, 255, 255, 0.84);
    }
  }

  h1 {
    font-size: 48px;
    text-align: left;
    margin-bottom: 8px;
  }

  h2 {
    font-size: 26px;
    font-weight: 700;
    padding: 0;
    margin: 56px 0 -13px -1.883px;
    text-align: left;
    line-height: 34.5px;
    letter-spacing: -0.45px;
  }

  h3 {
    font-size: 21px;
    font-weight: 700;
  }

  p,
  i,
  a {
    margin-top: 18px;
    letter-spacing: -0.03px;
    line-height: 1.58;
  }

  a {
    text-decoration: underline;
  }

  ::selection {
    background-color: lavender;

    .dark & {
      background-color: darkblue;
    }
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
    font-size: 18px;
    letter-spacing: -0.03px;
    line-height: 1.58;
  }

  ol {
    list-style-type: decimal;
    list-style-position: inside;
    font-size: 18px;
    letter-spacing: -0.03px;
    line-height: 1.58;
  }

  ul ul,
  ol ul {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 15px;
  }

  ol ol,
  ul ol {
    list-style-type: lower-latin;
    list-style-position: inside;
    margin-left: 15px;
  }
}
